@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  font-size: 62.5%;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  overflow-x: hidden;
}
.navbar{
  width: 100%;
  height: 75px;
  background-color: #dcdee6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
 box-shadow: 0px 0px 5px 1px;

}

.leftNav{
  flex: 1;

}
.right{
  flex:1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  
}
.box{
  width: 100px;
  background-color: #2e2f30;
  border-radius: 20px;
  margin-right  : 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 7px 1px;

}
.moon{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  /* display: none; */
  /* visibility: hidden; */
  /* background-color: #0d0d0d; */
}
.sun{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  margin-top: -40px;
  visibility: hidden;
}
.dark-text{
  margin-left: 8px;
  font-size: 15px;
}
.light-text{
  margin-left: 11px;
  font-size: 15px;
  color: #0d0d0d;

}
.dark-mode{
  width: 100%;
  height: 100%;
}
.light-mode{
  width: 100%;
  height: 100%;
  margin-left: 15px;
}
.logo{
  margin-left: 20px;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header{
  margin-top:10em;
}
.main{
  margin-top: 100px;
}
.grid {

  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  display: flex;

  background-color: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
 

  .grid {
    grid-gap: 3rem;
  }
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.title{
margin-left: 500px;
}
.subtitle{
  margin-left:450px;
}

